// *********************AboutPage*****************//

.Aboutpage-sec {
    .about-sec-banner {
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.562)), to(rgba(0, 0, 0, 0.671))), url("./Images/Banner-1.webp");
        background: linear-gradient(rgba(0, 0, 0, 0.719), rgba(0, 0, 0, 0.795)), url("./Images/Banner-1.webp");
        // background: url(./Images/about-page-banner.webp) no-repeat;
        // background-size: cover;
        height: 100%;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-attachment: inherit;
        padding-top: 98px;
        padding-bottom: 98px;

        &.bc-img {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.644)), to(rgba(0, 0, 0, 0.726))), url("./Images/CommercialDesign.webp");
            background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.726)), url("./Images/CommercialDesign.webp");
            // background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            background-attachment: inherit;
            padding-top: 98px;
            padding-bottom: 98px;
        }

        &.bc-img1 {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.644)), to(rgba(0, 0, 0, 0.726))), url("./Images/ResidentialDesign.webp");
            background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.726)), url("./Images/ResidentialDesign.webp");
            // background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            background-attachment: inherit;
            padding-top: 98px;
            padding-bottom: 98px;
            background-size: cover;
        }

        &.hean-freak-bg {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.644)), to(rgba(0, 0, 0, 0.726))), url("./Images/Hien Franke/4.webp");
            background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.726)), url("./Images/Hien Franke/4.webp");
            // background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            background-attachment: inherit;
            padding-top: 98px;
            padding-bottom: 98px;
            background-size: cover;
        }

        &.ira-nashik-bg {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.644)), to(rgba(0, 0, 0, 0.726))), url("./Images/IRA-Nashik/4.webp");
            background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.726)), url("./Images/IRA-Nashik/4.webp");
            // background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            background-attachment: inherit;
            padding-top: 98px;
            padding-bottom: 98px;
            background-size: cover;
        }

        &.ira-sambhajinagar {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.644)), to(rgba(0, 0, 0, 0.726))), url("./Images/IRA, Sambhajinagar/4.webp");
            background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.726)), url("./Images/IRA, Sambhajinagar/4.webp");
            // background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            // background-attachment: inherit;
            padding-top: 98px;
            padding-bottom: 98px;
            background-size: cover;
        }

        &.balewadi-pune-bg {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.644)), to(rgba(0, 0, 0, 0.726))), url('./Images/Cherry Blossom, Orchid/2.webp');
            background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.726)), url("./Images/Cherry Blossom, Orchid/2.webp");
            // background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            // background-attachment: inherit;
            padding-top: 98px;
            padding-bottom: 98px;
            background-size: cover;
        }

        &.orchid-hotelbg {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.644)), to(rgba(0, 0, 0, 0.726))), url('./Images/Banquet Hall, Orchid/5.webp');
            background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.726)), url("./Images/Banquet Hall, Orchid/5.webp");
            // background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            // background-attachment: inherit;
            padding-top: 98px;
            padding-bottom: 98px;
            background-size: cover;
        }

        &.contact-bg {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.644)), to(rgba(0, 0, 0, 0.726))), url('./Images/Banquet Hall, Orchid/3.webp');
            background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.726)), url("./Images/Banquet Hall, Orchid/3.webp");
            // background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            // background-attachment: inherit;
            padding-top: 98px;
            padding-bottom: 98px;
            background-size: cover;
        }

        &.gallery-bg {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.644)), to(rgba(0, 0, 0, 0.726))), url('./Images/IRA-Nashik/3.webp');
            background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.726)), url("./Images/IRA-Nashik/3.webp");
            // background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            // background-attachment: inherit;
            padding-top: 98px;
            padding-bottom: 98px;
            background-size: cover;
        }

        &.project-bg {
            background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.644)), to(rgba(0, 0, 0, 0.726))), url('./Images/Hien Franke/3.webp');
            background: linear-gradient(rgba(0, 0, 0, 0.644), rgba(0, 0, 0, 0.726)), url("./Images/Hien Franke/3.webp");
            // background-size: cover;
            height: 100%;
            width: 100%;
            background-position: center center;
            background-size: cover;
            // background-attachment: inherit;
            padding-top: 98px;
            padding-bottom: 98px;
            background-size: cover;
        }

        .banner-heading {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .banner-head {
                font-family: "Poppins-700";
                font-size: 40px;
                line-height: 1;
                color: #fff;

                @media only screen and (max-width:576px) {
                    text-align: center;
                }
            }

            .subhead {
                margin-top: 15px;
                color: #fff;
                font-family: "Poppins-medium";
                font-size: 15px;
                line-height: 26px;

                a {
                    color: #FFF;
                    text-decoration: none;
                }

                @media only screen and (max-width:576px) {
                    text-align: center;
                }

                span {
                    font-family: "Poppins-medium";
                    color: #d60010;
                    font-size: 15px;
                    line-height: 26px;
                    margin-left: 4px;
                }
            }
        }
    }
}

.leader-architecture {
    .architecture-wrapper {
        padding-top: 120px;

        @media only screen and (max-width: 576px) {
            padding-top: 80px;
        }


        .architecture-design-imgs {
            @media only screen and (max-width: 767px) {

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 80px;
            }

            @media only screen and (max-width: 576px) {
                padding: 0;
            }

            .arthitech-design {
                position: relative;

                &::before {
                    opacity: 1;
                    content: "";
                    width: 100%;
                    height: 100%;
                    position: absolute;

                    right: 22px;
                    bottom: 22px;
                    background: url(./Images/dots.png);
                    background-repeat: repeat;
                    z-index: -5;
                }
            }
        }

        .architech-design-content {
            @media only screen and (max-width: 992px) {
                margin-top: 70px;
                margin-bottom: 50px;
            }

            .padding-left {
                padding-left: 30px;
                margin-bottom: 20px;

                @media only screen and (max-width: 992px) {
                    padding-left: 0;
                }
            }

            .dots-child {
                margin-top: 20px;

                @media only screen and (max-width: 375px) {
                    font-size: 25px;

                }

                &::before {
                    margin: 0;
                    left: -64px;

                    @media only screen and (max-width: 1560px) {
                        left: -75px;
                    }

                    @media only screen and (max-width: 992px) {
                        left: 0;
                    }
                }
            }

            .subtittle {
                padding-left: 30px;
                color: #000;
                font-family: "Poppins-700";
                font-size: 18px;
                line-height: 24px;
                letter-spacing: 0.5px;
                text-align: inherit;

                @media only screen and (max-width: 992px) {
                    padding-left: 0px;
                }
            }

            .architechture-para {
                padding-left: 30px;
                color: #4c5267;
                font-family: "Poppins-medium";
                font-size: 15px;
                line-height: 26px;

                @media only screen and (max-width: 992px) {
                    padding-left: 0px;
                }
            }

            .button-sec {
                padding-left: 30px;
                margin-top: 30px;
                display: flex;
                align-items: center;
                column-gap: 20px;

                @media only screen and (max-width: 992px) {
                    padding-left: 0px;
                }

                @media only screen and (max-width: 425px) {
                    display: block;
                }

                .more-btn {
                    color: #ffffff;
                    font-size: 15px;
                    padding: 13px 30px;
                    font-family: "Poppins-600";
                    background: #d60010;
                    border: none;
                    border-radius: 12px;

                    &:hover {
                        background: white;
                        color: #d60010;
                        border: 1px solid #d60010;
                    }
                }

                .Videobtn1 {

                    .vedio-btn {
                        display: flex;
                        align-items: center;
                        color: #ffffff;
                        background: black;
                        padding: 13px 20px;
                        border-radius: 12px;
                        border: none;
                        column-gap: 10px;

                        @media only screen and (max-width: 425px) {
                            padding: 13px 35px;
                            margin-top: 20px;
                        }

                        .play-btn {
                            height: 13px;
                            width: 13px;
                        }
                    }



                }

                .clip {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) scale(0);
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 10000;
                    transition: 0.5s;

                    @media (max-width: 575px) {
                        padding: 0 20px;
                    }

                    &.active {
                        transform: translate(-50%, -50%) scale(1);
                        background: #0b0b0be5;

                        @media (max-width: 1510px) {
                            transform: translate(-50%, -60%) scale(1);
                        }
                    }

                    .Yvideoo {
                        @media (max-width: 992px) {
                            max-width: 768px;
                            max-height: 445px;
                        }

                        @media (max-width: 768px) {
                            max-width: 575px;
                            max-height: 400px;
                        }

                        @media (max-width: 575px) {
                            width: 423px;
                            height: 243px;
                        }
                    }

                    .close {
                        position: absolute;
                        top: 10%;
                        right: 20%;
                        cursor: pointer;
                        font-family: "Poppins-600";
                        font-size: 23px;
                        color: #ffffff9e;

                        @media (max-width: 1400px) {
                            right: 16%;
                        }

                        @media (max-width: 1200px) {
                            right: 12%;
                        }

                        @media (max-width: 992px) {
                            right: 10%;
                        }

                        @media (max-width: 768px) {
                            right: 10%;
                        }

                        @media (max-width: 575px) {
                            right: 5%;
                            top: 32%;
                        }
                    }
                }



            }
        }
    }
}

.our-specialization {
    margin-top: 120px;
    background: url(./Images/dots.png);

    @media only screen and (max-width: 768px) {
        margin-top: 26px;
    }

    .our-specialization-child {
        padding-top: 37px;



        .specialization {
            padding-top: 80px;

            @media only screen and (max-width: 768px) {
                padding-top: 0;
            }
        }

        .specialization-sec {
            padding-top: 20px;
            padding-bottom: 90px;

            @media only screen and (max-width: 768px) {
                padding-top: 0;
            }

            .specialization-1 {
                height: 100%;
                background: #ffffff;
                border: 1px solid #6E6E6E;
                border-radius: 10px;
                margin-right: 30px;
                margin-left: 20px;

                @media only screen and (max-width: 1200px) {
                    margin-right: 0;
                    margin-left: 0;
                }

                &.back-img {
                    // background: none;
                    background: url(./Images/exterior-back-img.webp) no-repeat;

                    @media only screen and (max-width: 768px) {}
                }

                &:hover {
                    border-bottom: 1px solid #ff646e;
                }

                .specialization-child {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 35px;

                    .subheading {
                        margin-top: 20px;
                        color: #000000;
                        font-family: "Poppins-700";
                        text-align: center;
                        font-size: 18px;
                        line-height: 24px;
                        letter-spacing: 0.5px;
                        text-align: center;

                        &.add-color {
                            color: #fff;
                            text-align: center;
                        }
                    }

                    .architecture-box-content {
                        margin-top: 20px;
                        color: #4c5267;
                        font-family: "Poppins-medium";
                        font-size: 15px;
                        line-height: 26px;
                        text-align: center;

                        &.add-color-cnt {
                            color: #fff;
                        }
                    }
                }
            }
        }

        .design-imgs {
            .left-img {
                position: relative;

                .border-sec {
                    background: #e91020;
                    position: absolute;
                    right: -10px;
                    width: 75px;
                    height: 75px;
                    bottom: -10px;
                    z-index: -1;

                    @media only screen and (max-width: 992px) {
                        right: 11px;
                    }

                    @media only screen and (max-width: 768px) {
                        right: -11px;
                    }

                    @media only screen and (max-width: 576px) {
                        right: -6px;
                        bottom: -7px;
                    }
                }
            }
        }
    }
}

.our-team {
    .our-team-child {
        padding-top: 120px;
        padding-bottom: 50px;
        // @media only screen and (max-width: 1200px) {
        //     padding: 117px 44px 120px 54px;
        // }

        .team-member {
            & .pd-bt{
                @media only screen and (max-width: 576px) {
                    padding-bottom: 20px;
                }
            }
            .team-inner {
                position: relative;
                border-color: rgba(165, 131, 83, 0.1);
                padding: 30px;
                border: 2px solid #eaeaea;
                background: #fff;
                margin-bottom: 30px;
                height: 100%;
                
                &::before {
                    background: #d60010;
                    height: 20px;
                    top: 65px;

                    content: "";
                    position: absolute;
                    left: -1px;
                    width: 2px;
                }

                .team-thumb {
                    padding: 15px;
                    overflow: hidden;
                    transition: all 0.4s ease-out 0s;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                    img {
                        border-radius: 50% !important;
                        border: 1px solid #e8e8e8;
                        margin-bottom: 15px;
                        padding: 6px;
                        height: 50%;
                        width: 50%;

                        &:hover {
                            transform: scale(1.02);
                            transition: all 0.5s;
                        }
                    }
                }

                .team-name-designation {
                    .name {
                        color: #151515;
                        font-size: 22px;
                        font-family: "Poppins-600";
                        line-height: 22px;
                        text-align: center;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            width: 30px;
                            background: #d60010;
                            height: 1px;
                            right: 0;
                            left: -1px;
                            top: 35px;
                            margin: 0 auto;
                        }
                    }

                    .designation {
                        margin-bottom: 0;
                        margin-top: 25px;
                        font-size: 13px;
                        line-height: 22px;
                        color: #d60010;
                        font-family: "Poppins-medium";
                        font-size: 15px;
                        text-align: center;
                    }
                }

                .socialmedia-icons {
                    margin-top: 35px;

                    .icon {
                        display: flex;
                        list-style: none;
                        align-items: center;
                        justify-content: center;
                        column-gap: 30px;
                        margin: 0;
                        padding: 0;

                        &::after {
                            height: 50px;
                            top: 94px;
                            background: #d60010;
                            content: "";
                            position: absolute;
                            left: -1px;
                            width: 2px;
                        }
                    }
                }
            }
        }

        .owl-dots {
            .owl-dot {
                margin-top: 30px;

                span {
                    background: #fff;
                    border: 1px solid #dfdfdf;
                    height: 15px;
                    width: 15px;


                }

                &.active {
                    span {
                        background-color: #d60010;
                    }
                }
            }
        }
    }
}

.hesitate-sec {
    margin-top: 120px;
    background: url(./Images/hestistate-back.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;

    .medium-layout {
        @media only screen and (max-width:992px) {
            padding: 0 148px 0 30px;
        }

        @media only screen and (max-width:576px) {
            padding: 0 15px 0 22px;

        }
    }

    .hestitate-child {
        background: url(./Images/hestistate-tree-img.jpg);
        width: 100%;
        padding: 80px 20px 50px 50px;
        border-radius: 30px;

        margin-left: 80px;
        margin-top: 120px;
        margin-bottom: 120px;
        background-position: center;

        @media only screen and (max-width:768px) {
            margin-left: 0;

        }

        @media only screen and (max-width:576px) {
            padding: 44px 20px 38px 30px;

        }

        .subheading {
            margin-bottom: 10px;
            text-transform: uppercase;
            font-family: "Poppins-600";
            color: #000000;
            text-align: left;
        }

        .align-item {
            padding-bottom: 10px;

            &::before {
                margin: 0;
                left: -52px;
            }
        }

        .section-description {
            text-align: left;
            font-family: "Poppins-medium";
            font-size: 15px;
            line-height: 26px;
        }

        .call-directly-sec {
            margin-top: 50px;

            .sub-title {
                text-transform: uppercase;
                font-weight: 600;
                color: #000000;
                font-size: 15px;
                line-height: 26px;
                font-family: "Poppins-medium";
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    background: url(./Images/title-dots.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    left: -52px;
                    top: -4px;
                    height: 113px;
                    width: 200px;
                }
            }

            .mobile-no {
                font-family: 'Poppins-700';
                font-size: 22px;
                line-height: 26px;
                text-align: inherit;
                color: #d60010;
            }

            .hours {
                margin-top: 20px;

                .hours-head {
                    font-family: 'Poppins-700';
                    font-size: 22px;
                    line-height: 26px;
                }

                .times-cnt {
                    padding-top: 10px;
                    padding-bottom: 20px;

                    p {
                        color: #000;
                        // padding: 0;
                        margin: 0;
                        font-family: "Poppins-medium";
                        font-size: 15px;
                        line-height: 26px;
                    }
                }
            }

        }
    }
}

// *********************CommercialPage*****************//
.sape-line {

    border-top: 1px dashed #ebebeb;
    height: 1px;

    display: block;
    position: relative;

    width: 100%;
    padding-top: 10px;
}

.md-screen {
    @media only screen and (max-width:992px) {
        flex-direction: row-reverse;
    }

    @media only screen and (max-width:768px) {
        flex-direction: column-reverse;
    }
}

.our-serivces-tabination {
    margin-top: 120px;
    // border: 1px solid red;


    .tab-header {
        display: flex;
        align-items: start;
        column-gap: 20px;



        &.mrg-top {
            margin-top: 30px;
        }

        .square {

            width: 14px;
            height: 14px;
            background-color: #D60010;
            margin-top: 6px;
        }

        h2 {

            font-family: "Poppins-600";
            font-size: 20px;
            line-height: 27px;
            margin-bottom: 25px;
            padding-bottom: 0;
            color: #000;
            position: relative;
            display: flex;
            align-items: center;
        }


    }

    .request-sec {
        .request-call-back {
            .call-back-sec {
                background: #000;
                padding: 60px 35px 60px 35px;
                border-radius: 10px;

                @media only screen and (max-width: 992px) {
                    width: 113%;
                    padding: 60px 20px 60px 20px;
                }

                @media only screen and (max-width: 768px) {

                    width: 100%;
                }

                .call-back-icon {

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: #ffffff;
                        font-size: 30px;
                        padding: 20px;
                        border: 1px solid #ffffff;
                        border-radius: 0.25rem !important;

                        &:hover {
                            color: #D60010;
                            border: 1px solid #D60010;
                        }
                    }
                }

                .call-back-heading {
                    font-family: 'Poppins-700';
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 26px;
                    text-align: inherit;
                    text-align: center;
                    color: #FFF;
                    margin-top: 30px;
                }

                .call-back-content {
                    .cnt {
                        margin-top: 20px;
                        color: #ffffff;
                        font-family: 'Poppins-medium';

                        font-size: 14px;
                        line-height: 25px;
                        text-align: center;
                        padding: 0 20px;

                        @media only screen and (max-width: 992px) {
                            padding: 0px;

                        }
                    }

                    .contact-no {
                        font-family: 'Poppins-700';
                        color: #fff;
                        line-height: 26px;
                        font-size: 22px;
                        text-align: center;
                    }
                }

                .contact-us-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 30px;

                    .cnt-btn {

                        color: #fff;
                        font-family: 'Poppins-600';
                        padding: 16px 30px;
                        line-height: 1;
                        border: none;
                        border-radius: 0;
                        border-radius: 10px;
                        background: #D60010;

                        a{
                            text-decoration: none;
                            color:#fff;
                        }

                        &:hover {
                            a{
                                color: #D60010;
                            }
                            background: #fff;
                           
                            transition: all 0.50s;
                        }

                    }
                }
            }
        }

        .brochure {
            @media only screen and (max-width:768px) {
                margin-bottom: 60px;
            }

            .brochure-button {
                .brochure-sec {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li a {
                        display: block;
                        width: 100% !important;
                        list-style: none;
                        // padding-left: 48px;
                        font-size: 16px;
                        height: 14px;
                        line-height: 14px;
                        border-radius: 5px;
                        background-color: #a58353;
                        color: #ffffff;
                        text-decoration: none;
                        font-family: 'Poppins-medium';
                        padding: 25px 30px 38px 20px;

                        &::before {
                            content: "\f1c1";

                            font-size: 16px;
                            font-family: 'Font Awesome 5 Free';
                            font-weight: 400;
                            padding-right: 20px;
                        }

                        &.pr-2 {
                            background-color: #000;
                            margin-top: 10px;
                        }
                    }
                }

            }
        }
    }

    .tab {
        padding: 0;
        margin: 0;
        display: block;
        list-style: none;


        li a {
            background: #eef0f3;
            border-left: 1px solid #eef0f3;
            border-bottom: 1px solid #fff;
            color: #333;
            font-family: "Poppins";
            display: block;
            padding: 16px;
            position: relative;
            text-decoration: none;
            text-align: left;

            @media only screen and (max-width: 992px) {
                padding: 9px;
                width: 113%;
            }

            @media only screen and (max-width: 768px) {

                width: 100%;
            }

            &.active {
                background-color: #c20411;
                color: #FFF;
            }

            &::after {
                content: "\f105";
                font-family: fontAwesome;
                padding-right: 10px;
                color: #666;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 20px;

                @media only screen and (max-width: 992px) {
                    right: 10px;

                }
            }

            &:hover {
                background-color: #c20411;
                transition: all 2s;
                color: #fff;
                border: none;
            }
        }
    }

    .tabs-body-sec {
        .secrvice-img {
            margin-bottom: 30px;
            border-radius: 5px;
            overflow: hidden;
        }

        .evalute-head {
            font-family: "Poppins-600";
            font-size: 27px;
            line-height: 27px;
            margin-bottom: 25px;
            padding-bottom: 0;
            color: #000;
            position: relative;
            display: flex;
            align-items: center;
        }

        .wpb-wrapper {
            padding-bottom: 50px;

            p {
                color: #4c5267;
                font-family: 'Poppins-medium';
                font-size: 14px;

            }
        }



        .innovation-research {
            margin-top: 60px;
            margin-bottom: 15px;

            @media only screen and (max-width:768px) {
                margin-bottom: 50px;
            }

            .reasearch {
                font-family: 'Poppins-700';
                color: #000;
                font-size: 22px;
                line-height: 26px;
                text-align: inherit;

                &::before {
                    left: -60%;
                }
            }

            .reasearch-cnt {
                .content {
                    color: #4c5267;
                    font-family: "Poppins-medium";
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 26px;
                }

                .media-body {
                    display: flex;
                    align-items: start;
                    column-gap: 13px;

                    img {
                        width: 6%;
                        margin-top: 2px;
                    }

                    .media-cnt {
                        color: #000;
                        font-family: 'Poppins-600';
                        line-height: 24px;
                        font-size: 14px;

                    }
                }
            }

            .img-sec {
                img {
                    @media only screen and (max-width:768px) {
                        width: 100%;
                        margin-top: 20px;
                    }
                }
            }
        }
    }

    .service-report {
        margin-top: 50px;
        padding-bottom: 50px;

        @media only screen and (max-width:576px) {
            padding-bottom: 10px;
        }

        .ser-report {
            color: #000000;
            text-transform: capitalize;
            font-family: "Poppins-700";
            font-size: 28px;
            line-height: 32px;
            text-align: inherit;

            &::before {
                left: -60%;
            }
        }

        .service-report-cnt {
            .service-cnt {
                color: #4c5267;
                font-family: 'Poppins-medium';
                font-size: 14px;
            }

            .service-report-list {
                display: flex;
                align-items: center;
                column-gap: 20px;

                .report-list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    padding-top: 10px;

                    li {
                        display: flex;
                        align-items: center;
                        column-gap: 10px;
                        color: #000;
                        line-height: 24px;
                        font-size: 14px;
                        font-family: 'Poppins-600';
                        padding-bottom: 7px;
                    }
                }
            }
        }
    }

    .work-process {
        padding-top: 50px;
        padding-bottom: 90px;

        .work-process-head {
            color: #000000;
            text-transform: capitalize;
            font-family: "Poppins-700";
            font-size: 28px;
            line-height: 32px;
            text-align: inherit;

            &::before {
                left: -60%;
            }
        }

        .work-process-accordian {
            margin-bottom: 120px;

            @media only screen and (max-width:576px) {
                margin-bottom: 30PX;
            }

            .discover-plan {
                color: #000 !important;
                font-size: 16px;
                font-family: 'Poppins-700';
                background: none;
                border: 1px solid #f0f0f0;
                outline: none;
                box-shadow: none;

                position: relative;
                display: flex;
                align-items: center;
                column-gap: 10px;
                padding: 11px 20px;

                &::after {
                    display: none;
                }


                .minus1 {
                    display: inline-block;
                }

                .plus1 {
                    display: none;
                }

                &.collapsed {
                    .minus1 {
                        display: none;
                    }

                    .plus1 {
                        display: inline-block;
                    }
                }





            }

            .acord-cnt {

                color: #4c5267;
                font-family: "Poppins-medium";
                font-size: 15px;
                line-height: 26px;

            }
        }

        .button-section {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media only screen and (max-width:576px) {
                display: flex;
                column-gap: 20px;
            }

            .back-btn {
                background: #fff;
                padding: 16px 14px;
                border-left: 0;
                border-right: 0;
                box-shadow: 2px 3.5px 16px 0 rgba(0, 0, 0, 0.24);
                border: none;
                display: flex;
                align-items: center;
                column-gap: 30px;
                margin-left: 20px;
                font-family: 'Poppins-medium';

                @media only screen and (max-width:576px) {
                    margin-left: 0;
                    padding: 16px 11px;
                }

                a {
                    color: #D60010;
                    text-decoration: none;

                }

                i {
                    margin-right: 10px;

                    @media only screen and (max-width:576px) {
                        margin-right: 4px;
                    }

                    &.mr-left {
                        margin-left: 10px;

                        @media only screen and (max-width:576px) {
                            margin-left: 4px;
                        }
                    }
                }

            }
        }
    }

}